@font-face {
  font-family: 'Forma DJR Arabic';
  src: url('../../Fonts/Forma DJR Arabic /Forma DJR Arabic Text Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Forma DJR Arabic';
  src: url('../../Fonts/Forma DJR Arabic /Forma DJR Arabic Text Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Forma DJR Arabic';
  src: url('../../Fonts/Forma DJR Arabic /Forma DJR Arabic Text Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Forma DJR Arabic';
  src: url('../../Fonts/Forma DJR Arabic /Forma DJR Arabic Text Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}